:root {
  --shiki-color-text: theme('colors.white');
  --shiki-token-constant: theme('colors.emerald.300');
  --shiki-token-string: theme('colors.emerald.300');
  --shiki-token-comment: theme('colors.zinc.500');
  --shiki-token-keyword: theme('colors.sky.300');
  --shiki-token-parameter: theme('colors.pink.300');
  --shiki-token-function: theme('colors.violet.300');
  --shiki-token-string-expression: theme('colors.emerald.300');
  --shiki-token-punctuation: theme('colors.zinc.200');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientText {
  @apply bg-gradient-to-r from-violet-500 via-indigo-700 to-purple-500 bg-clip-text tracking-tight text-transparent dark:from-violet-300 dark:via-indigo-500 dark:to-purple-300;
}


.iranGradient {
  @apply bg-gradient-to-br from-green-300 via-white to-red-300 bg-clip-text tracking-tight text-transparent dark:from-red-300 dark:via-white dark:to-green-300;
}



.prose :where(ul):not(:where([class~="not-prose"] *)) {
  padding-right: 1.625rem;
  padding-left: 0;
}

.prose :where(:is(ol, ul) > li):not(:where([class~="not-prose"] *)) {
  padding-right: 0.375rem;
  padding-left: 0;
}


.prose :where(ol):not(:where([class~="not-prose"] *)) {
  padding-right: 1.625rem;
  padding-left: 0;
}


.prose :where(ul):not(:where([class~="not-prose"] *)){
  padding-right: 1.625rem;
  padding-left: 0;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  font-weight: 700;
  font-size: 1.4rem;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  font-weight: 600;
  font-size: 1.2rem;
}

.prose :where(h4):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-size: 1.05rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.prose :where(h5):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-size: 1.0rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
